# Firebase Configuration (Server-side)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Supabase Configuration (Server-side)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# App URL
APP_URL=http://localhost:3000

# EmailJS Configuration
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
